.swiper-pagination {
  bottom: 0;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
}
.swiper-pagination-bullet-active {
  background-color: rgb(255, 2, 158);
}

.banner-wrapper {
  height: 250px;
}
.banner-item {
  position: relative;
  background-color: white;
  width: 400px;
  height: 210px;
  margin: 10px 0 0 10px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
}
.banner-item img {
  width: 400px;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.banner-item-badge {
  position: absolute;
  top: 10px;
  left: 10px;

  width: 40px;
  height: 18px;
  background-color: hotpink;
  border-radius: 20%;
  padding: 3px;

  color: white;
  font-size: small;
  font-weight: 600;
}
.banner-item-content {
  position: relative;
  height: 35px;
  padding: 5px;
}
.banner-item-title {
  font-size: 0.9rem;
  font-weight: 600;
}
.banner-item-period {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 0.7rem;
}
