.ranking-container {
  height: calc(100%);
  padding: 10px 20px;
}
.ranking-container-bottom {
  height: calc(100% - 220px);
  padding: 10px 20px;
}
.ranking-list {
  height: 85%;
  padding: 0;
  overflow-y: auto;
}
.ranking-item {
  display: flex;
  width: auto;
  height: 40px;
  margin-bottom: 10px;
  padding: 0.5rem;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  text-align: start;
}

.ranking-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: #dfdfdf;
  border-radius: 5%;
}
.ranking-number {
  margin: 0 10px 0 0;
}
.ranking-artist {
  font-size: 0.7rem;
}
